body {
    font-family: 'open sans', sans-serif;
    overflow-x: hidden;

    color: #444444;
}

// font color
$color-white:#fff;
$color-blue:#73c5eb;
$color-gray:rgba(255, 255, 255, 0.6);
$color-dark: #0c3c53;
//  font-family
$font-family:'Jost',
sans-serif;
$font-family1: 'Open Sans',
sans-serif;
// background color
$background-color:rgba(40, 58, 90, 0.9);
$background-color1:#f3f5fa;
$background-color2:#fff;
$background-color3:#47b2e4;
$background-color4:#209dd8;

// font-size
// media icons css
.social_media {
    margin-top: 12px;

    .social_media_icon {
        position: relative;
        left: -101px;

        .social_media_link {
            transition: ease-in-out 0.3s;
            display: flex;
            align-items: center;
            justify-content: center;
            // border-radius: 50px;
            // width: 36px;
            // padding-left: 19px;
            // height: 36px;
            // background: #eff2f8;

            a {
                text-decoration: none;
                color: $color-dark;
                padding: 3px 8px 3px 8px;
                border-radius: 50px;
                width: 36px;
                margin: 0px 0 0 4px;
                height: 36px;
                background: #eff2f8;

                span {
                    font-size: 20px;
                }
            }
        }
    }
}

// media icons end

@mixin font($para) {
    font-size: $para;
}

// font weight
@mixin font-weight($para1) {
    font-weight: $para1;
}

i.fa-solid.fa-chevron-down {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    color: $color-white;
}

// fadeInBottom start
.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



// fadeInBottom end

// import
@import "header";
@import "content";
@import "footer";